anyio==4.2.0
autogen-agentchat
autogen-core~=0.4.5
autogen-ext==0.4.5
autogen-ext[azure]
azure-ai-inference~=1.0.0b8
azure-ai-projects
azure-search-documents>=11.5.2
chainlit
chromadb ~= 0.6.3
httpx==0.26.0
ipykernel~=6.29.5
jsonschema==4.20.0
mcp[cli]
mistralai~=0.4.2
openai==1.12.0
pillow==11.0.0
pydantic>=2.4.2
python-dotenv==1.0.0
semantic-kernel==0.3.0
tmdbv3api==1.7.7
