python-dotenv==1.0.0
python_version>=3.8,<3.13
openai==1.12.0
semantic-kernel==0.3.0
tmdbv3api==1.7.7
httpx==0.26.0
anyio==4.2.0
jsonschema==4.20.0
pydantic>=2.4.2
typing_extensions
langgraph
langchain-openai
langchain-core
langchain-community
langgraph-checkpoint-mongodb
yfinance
pymongo
wikipedia
pandas
chromadb
mem0ai
autogen
streamlit
